<h1>Resources</h1>
<h3>Open your heart, and your wallet.  Please donate to any of the following causes</h3>
<ul> 
  <li><%= link_to "NAACP", 'https://naacp.org' %></li>
  <li><%= link_to "Black Lives Matter", 'https://blacklivesmatter.com/' %></li>
  <li><%= link_to "Don't Shoot PDX", 'https://www.dontshootpdx.org/' %></li>
  <li><%= link_to "Portland General Defence Committee", 'https://pdxgdc.com/' %></li>
  <li><%= link_to "ACLU Portland", 'https://www.aclu-or.org/' %></li>
</ul>


<h3>Not ready to donate? Take action!</h3>
<ul>
<li><%= link_to "Petition: Justice for Breonna Taylor", 'https://www.change.org/p/andy-beshear-justice-for-breonna-taylor'%></li>
<li><%= link_to "Petition: Justice for George Floyd", 'https://www.change.org/p/mayor-jacob-frey-justice-for-george-floyd'%></li>

<li><%= link_to "Petition: BLEU 30 Petitions You Should Sign Right Now", 'https://www.bleumag.com/2020/06/03/30-blm-petitions-you-should-sign-right-now/' %></li>

<li><%= link_to "Local Portland Protests: Rose City Justice ", 'https://www.instagram.com/rosecityjustice/?hl=en' %></li>
<li><%= link_to "Petition: Unite Oregon - Defund PPD & Reinvest in Community", 'https://www.uniteoregon.org/defund_ppb_special_units'%></li>

</ul>