<%# LINKS FOR RESOURCES WILL GO HERE %>
<h1>Resources</h1>
<h3>Open your heart, and your wallet.  Please donate to any of the following causes</h3>
<ul> 
  <li><%= link_to "NAACP", 'https://naacp.org' %></li>
  <li><%= link_to "Black Lives Matter", 'https://blacklivesmatter.com/' %></li>
  <li><%= link_to "Don't Shoot PDX", 'https://www.dontshootpdx.org/' %></li>
  <li><%= link_to "Portland General Defence Committee", 'https://pdxgdc.com/' %></li>
  <li><%= link_to "ACLU Portland", 'https://www.aclu-or.org/' %></li>
</ul>


<h3>Not ready to donate? Take action!:</h3>
<ul>
<li><%= link_to "Rose City Justice - Local Portland Protests", 'https://www.instagram.com/rosecityjustice/?hl=en' %></li>

</ul>