<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/all">All Quotes</a>
      <a class="navbar-brand" href="/resources">Resources</a>
    </nav>
    <div class= "box">
      <%= yield %>
    </div>
  </body>
</html>
